/*==========================================================================================================================================================================*/
/* Подключение шрифтов */
@font-face {
	font-family: "Europe_ext";
	src: url("../fonts/europe_ext.woff") format("woff"),
         url("../fonts/europe_ext.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "icomoon";
    src: url("../fonts/icomoon.eot?jucc06");
    src: url("../fonts/icomoon.eot?jucc06#iefix") format("embedded-opentype"),
         url("../fonts/icomoon.ttf?jucc06") format("truetype"),
         url("../fonts/icomoon.woff?jucc06") format("woff"),
         url("../fonts/icomoon.svg?jucc06#icomoon") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}



/*==========================================================================================================================================================================*/
/* Обнуление */
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

nav,
footer,
header,
aside {
    display: block;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

a,
button {
    cursor: pointer;
    border: none;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
    border: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

:focus,
:active,
a:focus,
a:active {
    outline: none;
}

a,
a:visited,
a:hover {
    text-decoration: none;
}



/*==========================================================================================================================================================================*/
/* Общие стили */
html,
body {
    font-size: 16px;
    font-weight: 400;
    font-family: "Europe_ext";
    line-height: 1;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    overflow: hidden;
}

body {
    opacity: 0;
    -webkit-animation: body_show 0.5s forwards ease-in-out 0.3s;
            animation: body_show 0.5s forwards ease-in-out 0.3s;
}

@keyframes body_show {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes body_show {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media (max-height: 900px) {
    html,
    body {
        overflow: auto;
    } 
}



/*==========================================================================================================================================================================*/
/* Cтили иконок */
[class^="icon-"],
[class*=" icon-"] {
    font-family: "icomoon" !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^=_icon-]:before,
[class*=" _icon-"]:before {
    font-family: "icomoon";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    color: #54e610;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

._icon-about:before {
    content: "\e900";
}

._icon-gallery:before {
    content: "\e901";
}

._icon-github:before {
    content: "\e902";
}

._icon-home:before {
    content: "\e903";
}

._icon-mail:before {
    content: "\e904";
}

._icon-mobile:before {
    content: "\e905";
}

._icon-telegram:before {
    content: "\e906";
}

._icon-vk:before {
    content: "\e907";
}

._icon-whatsapp:before {
    content: "\e908";
}



/*==========================================================================================================================================================================*/
/* Worklace */
.page {
   position: relative;
   height: 100vh;
   min-height: 949px;
   overflow-y: auto;
}

.page-content {
    width: 100%;
    height: 100%;
}

.page-content__workplace {
    position: relative;
    width: 100%;
    height: 100%;
}

.page-content__workplace > img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: 0px auto;
       object-position: 0px auto;
}

.page-content__screen {
    position: absolute;
    top: 67px;
    bottom: 238px;
    left: calc(35px + 950 * ((100vw - 1200px) / 1920));
    right: calc(40px + 980 * ((100vw - 1200px) / 1920));
    overflow: hidden;
    border-radius: 5px;
    background-color: #252525;
    -webkit-box-shadow: inset 0 0px 5px black;
            box-shadow: inset 0 0px 5px black;
}

.page-content__screen::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../img/screen.jpg) no-repeat;
    background-size: cover;
    -webkit-box-shadow: inset 0 0 3px rgb(20, 20, 20);
            box-shadow: inset 0 0 3px rgb(20, 20, 20);	
}

.page-content__screen::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(36, 36, 36, 0.7);	
}


/*===================================================================================*/
/* Media Queries */
@media (min-width: 1940px), (min-height: 950px) {
    .page-content__workplace > img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
        -o-object-fit: cover;
           object-fit: cover;
        -o-object-position: auto 0;
           object-position: auto 0;
    }

    .page-content__screen {
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
    }
}

@media (max-width: 1150px) {
    .page-content__screen {
        left: 0;
        right: 0;
    }
}



/*==========================================================================================================================================================================*/
/* Main */
.pages__main {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.main-page__text {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    margin: 0px 0px 50px 0px;
    padding: 0 20px;
    max-height: 310px;
    font-size: 30px;
    line-height: 1.7;
    color: lime;
    text-align: center;
    overflow: hidden;
    overflow-y: auto;
    z-index: 3;
}

.text-main__letters {
    white-space: pre-wrap;
}

.text-main__letters span {
    visibility: hidden;
}

.text-main__letters span._visible {
    visibility: visible;
}

.text-main__letters span._cursor {
    background-color: lime;
    -webkit-animation: blinking 0.8s step-start infinite;
            animation: blinking 0.8s step-start infinite;
}

@-webkit-keyframes blinking {
    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes blinking {
    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/*===================================================================================*/
/* Main. Phone */
.main-page__phone {
    position: absolute;
    top: 44px;
    right: 50px;
}

.main-page__link {
    display: inline-block;
    position: relative;
    font-size: 14px;
    font-weight: 700;
    color: #000;
    padding: 8px 12px;
    background-color: #54e610;
}

.main-page__link::before,
.main-page__link::after {
    content: "";
    position: absolute;
    left: -4px;
    right: -4px;
    height: 2px;
    background-color: #54e610;
    opacity: 0;
    -webkit-transition: transform 0.3s cubic-bezier(1, 0.45, 0.88, 0.56), opacity 0.3s cubic-bezier(1, 0.45, 0.88, 0.56);
    -o-transition: transform 0.3s cubic-bezier(1, 0.45, 0.88, 0.56), opacity 0.3s cubic-bezier(1, 0.45, 0.88, 0.56);
    -webkit-transition: opacity 0.3s cubic-bezier(1, 0.45, 0.88, 0.56), -webkit-transform 0.3s cubic-bezier(1, 0.45, 0.88, 0.56);
    transition: opacity 0.3s cubic-bezier(1, 0.45, 0.88, 0.56), -webkit-transform 0.3s cubic-bezier(1, 0.45, 0.88, 0.56);
    transition: transform 0.3s cubic-bezier(1, 0.45, 0.88, 0.56), opacity 0.3s cubic-bezier(1, 0.45, 0.88, 0.56);
    transition: transform 0.3s cubic-bezier(1, 0.45, 0.88, 0.56), opacity 0.3s cubic-bezier(1, 0.45, 0.88, 0.56), -webkit-transform 0.3s cubic-bezier(1, 0.45, 0.88, 0.56);
}

.main-page__link::before {
    top: -16px;
}

.main-page__link::after {
    bottom: -16px;
}

.main-page__link:hover::before {
    -webkit-transform: translateY(10px);
        -ms-transform: translateY(10px);
            transform: translateY(10px);
    opacity: 1;
}

.main-page__link:hover::after {
    -webkit-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
            transform: translateY(-10px);
    opacity: 1;
}

.main-page__lines {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;;
    height: 100%;
    z-index: -1;
}

.main-page__lines::before,
.main-page__lines::after {
    content: "";
    position: absolute;
    width: 2px;
    top: -4px;
    bottom: -4px;
    background-color: #54e610;
    opacity: 0;
    -webkit-transition: transform 0.3s cubic-bezier(1, 0.45, 0.88, 0.56), opacity 0.3s cubic-bezier(1, 0.45, 0.88, 0.56);
    -o-transition: transform 0.3s cubic-bezier(1, 0.45, 0.88, 0.56), opacity 0.3s cubic-bezier(1, 0.45, 0.88, 0.56);
    -webkit-transition: opacity 0.3s cubic-bezier(1, 0.45, 0.88, 0.56), -webkit-transform 0.3s cubic-bezier(1, 0.45, 0.88, 0.56);
    transition: opacity 0.3s cubic-bezier(1, 0.45, 0.88, 0.56), -webkit-transform 0.3s cubic-bezier(1, 0.45, 0.88, 0.56);
    transition: transform 0.3s cubic-bezier(1, 0.45, 0.88, 0.56), opacity 0.3s cubic-bezier(1, 0.45, 0.88, 0.56);
    transition: transform 0.3s cubic-bezier(1, 0.45, 0.88, 0.56), opacity 0.3s cubic-bezier(1, 0.45, 0.88, 0.56), -webkit-transform 0.3s cubic-bezier(1, 0.45, 0.88, 0.56);
}

.main-page__lines::before {
    left: -16px;
}

.main-page__lines::after {
    right: -16px;
}

.main-page__link:hover ~ .main-page__lines::before {
    -webkit-transform: translateX(10px);
        -ms-transform: translateX(10px);
            transform: translateX(10px);
    opacity: 1;
}

.main-page__link:hover ~ .main-page__lines::after {
    -webkit-transform: translateX(-10px);
        -ms-transform: translateX(-10px);
            transform: translateX(-10px);
    opacity: 1;
}

/*===================================================================================*/
/* Main. Social */
.main-page__social {
    position: absolute;
    top: 50%;
    right: 50px;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    -webkit-perspective: 1000px;
            perspective: 1000px;
}

.social-panel__item {
    margin: 0px 0px 6px 0px;
}

.social-panel__link {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 40px;
    width: 40px;
    font-size: 22px;
    -webkit-font-smoothing: antialiased;
    border: 2px solid rgb(84, 230, 16);
    -webkit-transition: transform 0.15s;
    -o-transition: transform 0.15s;
    -webkit-transition: -webkit-transform 0.15s;
    transition: -webkit-transform 0.15s;
    transition: transform 0.15s;
    transition: transform 0.15s, -webkit-transform 0.15s;
}

.social-panel__link:hover {
    -webkit-transform: translateX(5px);
        -ms-transform: translateX(5px);
            transform: translateX(5px);
}

.social-panel__link span {
    position: absolute;
    display: inline-block;
    right: 50px;
    max-width: 140px;
    min-height: 36px;
    padding: 0 12px;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 1px;
    color: rgb(84, 230, 16);
    text-align: center;
    border: 2px solid rgb(84, 230, 16);
    visibility: hidden;
    opacity: 0;
    -webkit-transform: rotateY(80deg);
            transform: rotateY(80deg);
    -webkit-transform-origin: 100% 0;
        -ms-transform-origin: 100% 0;
            transform-origin: 100% 0;
    -webkit-transition: all 0.15s cubic-bezier(1,-1.48,.88, -1);
    -o-transition: all 0.15s cubic-bezier(1,-1.48,.88, -1);
    transition: all 0.15s cubic-bezier(1,-1.48,.88, -1);
}

.social-panel__link:hover span {
    visibility: visible;
    opacity: 1;
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
}

/*===================================================================================*/
/* Main. Animation */
.main-page__animation {
    position: absolute;
    bottom: 45px;
    right: 95px;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
}

.main-animation__item {
    width: 100%;
    height: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 16px 4px 16px;
    grid-template-columns: 16px 16px;
    -ms-grid-rows: 16px 4px 16px;
    grid-template-rows: 16px 16px;
    gap: 4px;
    -webkit-transform-origin: center;
        -ms-transform-origin: center;
            transform-origin: center;
    -webkit-animation: rotate-cube 15s infinite linear;
            animation: rotate-cube 15s infinite linear;
}

.main-animation__item > *:nth-child(1) {
	-ms-grid-row: 1;
	-ms-grid-column: 1;
}

.main-animation__item > *:nth-child(2) {
	-ms-grid-row: 1;
	-ms-grid-column: 3;
}

.main-animation__item > *:nth-child(3) {
	-ms-grid-row: 3;
	-ms-grid-column: 1;
}

.main-animation__item > *:nth-child(4) {
	-ms-grid-row: 3;
	-ms-grid-column: 3;
}

@-webkit-keyframes rotate-cube {
    0% {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}

@keyframes rotate-cube {
    0% {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}

.main-animation__item span {
    display: inline-block;
    border: 8px solid rgb(84, 230, 16);
}

.main-animation__item span:nth-child(1) {
    -webkit-animation: shift-one 40s infinite cubic-bezier(1, -1.48, .88, -1);
            animation: shift-one 40s infinite cubic-bezier(1, -1.48, .88, -1);
}

@-webkit-keyframes shift-one {
    0% {
        -webkit-transform: translate(0px, 0px) rotate(0deg);
                transform: translate(0px, 0px) rotate(0deg);
        border: 8px solid rgb(84, 230, 16);
    }

    32% {
        -webkit-transform: translate(0px, 0px) rotate(0deg) scale(1);
                transform: translate(0px, 0px) rotate(0deg) scale(1);
    }

    34.9% {
        border: 8px solid rgb(84, 230, 16);
    }

    35% {
        -webkit-transform: translate(-10px, -10px) rotate(90deg) scale(1.5);
                transform: translate(-10px, -10px) rotate(90deg) scale(1.5);
        border: 2px solid rgb(84, 230, 16);
    }

    42% {
        -webkit-transform: translate(-10px, -10px) rotate(90deg) scale(1.5);
                transform: translate(-10px, -10px) rotate(90deg) scale(1.5);
    }

    44.9% {
        border: 2px solid rgb(84, 230, 16);
    }

    45% {
        -webkit-transform: translate(-10px, -10px) rotate(180deg) scale(1.5);
                transform: translate(-10px, -10px) rotate(180deg) scale(1.5);
        border: 4px solid rgb(84, 230, 16);
    }

    52% {
        -webkit-transform: translate(-10px, -10px) rotate(180deg) scale(1.5);
                transform: translate(-10px, -10px) rotate(180deg) scale(1.5);
    }

    54.9% {
        border: 4px solid rgb(84, 230, 16);
    }

    55% {
        -webkit-transform: translate(-10px, -10px) rotate(270deg) scale(1.5);
                transform: translate(-10px, -10px) rotate(270deg) scale(1.5);
        border: 6px solid rgb(84, 230, 16);
    }

    62% {
        -webkit-transform: translate(-10px, -10px) rotate(270deg) scale(1.5);
                transform: translate(-10px, -10px) rotate(270deg) scale(1.5);
    }

    64.9% {
        border: 6px solid rgb(84, 230, 16);
    }

    65% {
        -webkit-transform: translate(0px, 0px) rotate(360deg) scale(1);
                transform: translate(0px, 0px) rotate(360deg) scale(1);
        border: 8px solid rgb(84, 230, 16);
    }

    100% {
        -webkit-transform: translate(0px, 0px) rotate(360deg);
                transform: translate(0px, 0px) rotate(360deg);
        border: 8px solid rgb(84, 230, 16);
    }
}

@keyframes shift-one {
    0% {
        -webkit-transform: translate(0px, 0px) rotate(0deg);
                transform: translate(0px, 0px) rotate(0deg);
        border: 8px solid rgb(84, 230, 16);
    }

    32% {
        -webkit-transform: translate(0px, 0px) rotate(0deg) scale(1);
                transform: translate(0px, 0px) rotate(0deg) scale(1);
    }

    34.9% {
        border: 8px solid rgb(84, 230, 16);
    }

    35% {
        -webkit-transform: translate(-10px, -10px) rotate(90deg) scale(1.5);
                transform: translate(-10px, -10px) rotate(90deg) scale(1.5);
        border: 2px solid rgb(84, 230, 16);
    }

    42% {
        -webkit-transform: translate(-10px, -10px) rotate(90deg) scale(1.5);
                transform: translate(-10px, -10px) rotate(90deg) scale(1.5);
    }

    44.9% {
        border: 2px solid rgb(84, 230, 16);
    }

    45% {
        -webkit-transform: translate(-10px, -10px) rotate(180deg) scale(1.5);
                transform: translate(-10px, -10px) rotate(180deg) scale(1.5);
        border: 4px solid rgb(84, 230, 16);
    }

    52% {
        -webkit-transform: translate(-10px, -10px) rotate(180deg) scale(1.5);
                transform: translate(-10px, -10px) rotate(180deg) scale(1.5);
    }

    54.9% {
        border: 4px solid rgb(84, 230, 16);
    }

    55% {
        -webkit-transform: translate(-10px, -10px) rotate(270deg) scale(1.5);
                transform: translate(-10px, -10px) rotate(270deg) scale(1.5);
        border: 6px solid rgb(84, 230, 16);
    }

    62% {
        -webkit-transform: translate(-10px, -10px) rotate(270deg) scale(1.5);
                transform: translate(-10px, -10px) rotate(270deg) scale(1.5);
    }

    64.9% {
        border: 6px solid rgb(84, 230, 16);
    }

    65% {
        -webkit-transform: translate(0px, 0px) rotate(360deg) scale(1);
                transform: translate(0px, 0px) rotate(360deg) scale(1);
        border: 8px solid rgb(84, 230, 16);
    }

    100% {
        -webkit-transform: translate(0px, 0px) rotate(360deg);
                transform: translate(0px, 0px) rotate(360deg);
        border: 8px solid rgb(84, 230, 16);
    }
}

.main-animation__item span:nth-child(2) {
    -webkit-animation: shift-two 40s infinite cubic-bezier(1, -1.48, .88, -1);
            animation: shift-two 40s infinite cubic-bezier(1, -1.48, .88, -1);
}

@-webkit-keyframes shift-two {
    0% {
        -webkit-transform: translate(0px, 0px) rotate(0deg);
                transform: translate(0px, 0px) rotate(0deg);
        border: 8px solid rgb(84, 230, 16);
    }

    32% {
        -webkit-transform: translate(0px, 0px) rotate(0deg) scale(1);
                transform: translate(0px, 0px) rotate(0deg) scale(1);
    }

    34.9% {
        border: 8px solid rgb(84, 230, 16);
    }

    35% {
        -webkit-transform: translate(10px, -10px) rotate(90deg) scale(1.5);
                transform: translate(10px, -10px) rotate(90deg) scale(1.5);
        border: 2px solid rgb(84, 230, 16);
    }

    42% {
        -webkit-transform: translate(10px, -10px) rotate(90deg) scale(1.5);
                transform: translate(10px, -10px) rotate(90deg) scale(1.5);
    }

    44.9% {
        border: 2px solid rgb(84, 230, 16);
    }

    45% {
        -webkit-transform: translate(10px, -10px) rotate(180deg) scale(1.5);
                transform: translate(10px, -10px) rotate(180deg) scale(1.5);
        border: 4px solid rgb(84, 230, 16);
    }

    52% {
        -webkit-transform: translate(10px, -10px) rotate(180deg) scale(1.5);
                transform: translate(10px, -10px) rotate(180deg) scale(1.5);
    }

    54.9% {
        border: 4px solid rgb(84, 230, 16);
    }

    55% {
        -webkit-transform: translate(10px, -10px) rotate(270deg) scale(1.5);
                transform: translate(10px, -10px) rotate(270deg) scale(1.5);
        border: 6px solid rgb(84, 230, 16);
    }

    62% {
        -webkit-transform: translate(10px, -10px) rotate(270deg) scale(1.5);
                transform: translate(10px, -10px) rotate(270deg) scale(1.5);
    }

    64.9% {
        border: 6px solid rgb(84, 230, 16);
    }

    65% {
        -webkit-transform: translate(0px, 0px) rotate(360deg) scale(1);
                transform: translate(0px, 0px) rotate(360deg) scale(1);
        border: 8px solid rgb(84, 230, 16);
    }

    100% {
        -webkit-transform: translate(0px, 0px) rotate(360deg);
                transform: translate(0px, 0px) rotate(360deg);
        border: 8px solid rgb(84, 230, 16);
    }
}

@keyframes shift-two {
    0% {
        -webkit-transform: translate(0px, 0px) rotate(0deg);
                transform: translate(0px, 0px) rotate(0deg);
        border: 8px solid rgb(84, 230, 16);
    }

    32% {
        -webkit-transform: translate(0px, 0px) rotate(0deg) scale(1);
                transform: translate(0px, 0px) rotate(0deg) scale(1);
    }

    34.9% {
        border: 8px solid rgb(84, 230, 16);
    }

    35% {
        -webkit-transform: translate(10px, -10px) rotate(90deg) scale(1.5);
                transform: translate(10px, -10px) rotate(90deg) scale(1.5);
        border: 2px solid rgb(84, 230, 16);
    }

    42% {
        -webkit-transform: translate(10px, -10px) rotate(90deg) scale(1.5);
                transform: translate(10px, -10px) rotate(90deg) scale(1.5);
    }

    44.9% {
        border: 2px solid rgb(84, 230, 16);
    }

    45% {
        -webkit-transform: translate(10px, -10px) rotate(180deg) scale(1.5);
                transform: translate(10px, -10px) rotate(180deg) scale(1.5);
        border: 4px solid rgb(84, 230, 16);
    }

    52% {
        -webkit-transform: translate(10px, -10px) rotate(180deg) scale(1.5);
                transform: translate(10px, -10px) rotate(180deg) scale(1.5);
    }

    54.9% {
        border: 4px solid rgb(84, 230, 16);
    }

    55% {
        -webkit-transform: translate(10px, -10px) rotate(270deg) scale(1.5);
                transform: translate(10px, -10px) rotate(270deg) scale(1.5);
        border: 6px solid rgb(84, 230, 16);
    }

    62% {
        -webkit-transform: translate(10px, -10px) rotate(270deg) scale(1.5);
                transform: translate(10px, -10px) rotate(270deg) scale(1.5);
    }

    64.9% {
        border: 6px solid rgb(84, 230, 16);
    }

    65% {
        -webkit-transform: translate(0px, 0px) rotate(360deg) scale(1);
                transform: translate(0px, 0px) rotate(360deg) scale(1);
        border: 8px solid rgb(84, 230, 16);
    }

    100% {
        -webkit-transform: translate(0px, 0px) rotate(360deg);
                transform: translate(0px, 0px) rotate(360deg);
        border: 8px solid rgb(84, 230, 16);
    }
}

.main-animation__item span:nth-child(3) {
    -webkit-animation: shift-three 40s infinite cubic-bezier(1, -1.48, .88, -1);
            animation: shift-three 40s infinite cubic-bezier(1, -1.48, .88, -1);
}

@-webkit-keyframes shift-three {
    0% {
        -webkit-transform: translate(0px, 0px) rotate(0deg);
                transform: translate(0px, 0px) rotate(0deg);
        border: 8px solid rgb(84, 230, 16);
    }

    32% {
        -webkit-transform: translate(0px, 0px) rotate(0deg) scale(1);
                transform: translate(0px, 0px) rotate(0deg) scale(1);
    }

    34.9% {
        border: 8px solid rgb(84, 230, 16);
    }

    35% {
        -webkit-transform: translate(-10px, 10px) rotate(90deg) scale(1.5);
                transform: translate(-10px, 10px) rotate(90deg) scale(1.5);
        border: 2px solid rgb(84, 230, 16);
    }

    42% {
        -webkit-transform: translate(-10px, 10px) rotate(90deg) scale(1.5);
                transform: translate(-10px, 10px) rotate(90deg) scale(1.5);
    }

    44.9% {
        border: 2px solid rgb(84, 230, 16);
    }

    45% {
        -webkit-transform: translate(-10px, 10px) rotate(180deg) scale(1.5);
                transform: translate(-10px, 10px) rotate(180deg) scale(1.5);
        border: 4px solid rgb(84, 230, 16);
    }

    52% {
        -webkit-transform: translate(-10px, 10px) rotate(180deg) scale(1.5);
                transform: translate(-10px, 10px) rotate(180deg) scale(1.5);
    }

    54.9% {
        border: 4px solid rgb(84, 230, 16);
    }

    55% {
        -webkit-transform: translate(-10px, 10px) rotate(270deg) scale(1.5);
                transform: translate(-10px, 10px) rotate(270deg) scale(1.5);
        border: 6px solid rgb(84, 230, 16);
    }

    62% {
        -webkit-transform: translate(-10px, 10px) rotate(270deg) scale(1.5);
                transform: translate(-10px, 10px) rotate(270deg) scale(1.5);
    }

    64.9% {
        border: 6px solid rgb(84, 230, 16);
    }

    65% {
        -webkit-transform: translate(0px, 0px) rotate(360deg) scale(1);
                transform: translate(0px, 0px) rotate(360deg) scale(1);
        border: 8px solid rgb(84, 230, 16);
    }

    100% {
        -webkit-transform: translate(0px, 0px) rotate(360deg);
                transform: translate(0px, 0px) rotate(360deg);
        border: 8px solid rgb(84, 230, 16);
    }
}

@keyframes shift-three {
    0% {
        -webkit-transform: translate(0px, 0px) rotate(0deg);
                transform: translate(0px, 0px) rotate(0deg);
        border: 8px solid rgb(84, 230, 16);
    }

    32% {
        -webkit-transform: translate(0px, 0px) rotate(0deg) scale(1);
                transform: translate(0px, 0px) rotate(0deg) scale(1);
    }

    34.9% {
        border: 8px solid rgb(84, 230, 16);
    }

    35% {
        -webkit-transform: translate(-10px, 10px) rotate(90deg) scale(1.5);
                transform: translate(-10px, 10px) rotate(90deg) scale(1.5);
        border: 2px solid rgb(84, 230, 16);
    }

    42% {
        -webkit-transform: translate(-10px, 10px) rotate(90deg) scale(1.5);
                transform: translate(-10px, 10px) rotate(90deg) scale(1.5);
    }

    44.9% {
        border: 2px solid rgb(84, 230, 16);
    }

    45% {
        -webkit-transform: translate(-10px, 10px) rotate(180deg) scale(1.5);
                transform: translate(-10px, 10px) rotate(180deg) scale(1.5);
        border: 4px solid rgb(84, 230, 16);
    }

    52% {
        -webkit-transform: translate(-10px, 10px) rotate(180deg) scale(1.5);
                transform: translate(-10px, 10px) rotate(180deg) scale(1.5);
    }

    54.9% {
        border: 4px solid rgb(84, 230, 16);
    }

    55% {
        -webkit-transform: translate(-10px, 10px) rotate(270deg) scale(1.5);
                transform: translate(-10px, 10px) rotate(270deg) scale(1.5);
        border: 6px solid rgb(84, 230, 16);
    }

    62% {
        -webkit-transform: translate(-10px, 10px) rotate(270deg) scale(1.5);
                transform: translate(-10px, 10px) rotate(270deg) scale(1.5);
    }

    64.9% {
        border: 6px solid rgb(84, 230, 16);
    }

    65% {
        -webkit-transform: translate(0px, 0px) rotate(360deg) scale(1);
                transform: translate(0px, 0px) rotate(360deg) scale(1);
        border: 8px solid rgb(84, 230, 16);
    }

    100% {
        -webkit-transform: translate(0px, 0px) rotate(360deg);
                transform: translate(0px, 0px) rotate(360deg);
        border: 8px solid rgb(84, 230, 16);
    }
}

.main-animation__item span:nth-child(4) {
    -webkit-animation: shift-four 40s infinite cubic-bezier(1, -1.48, .88, -1);
            animation: shift-four 40s infinite cubic-bezier(1, -1.48, .88, -1);
}

@-webkit-keyframes shift-four {
    0% {
        -webkit-transform: translate(0px, 0px) rotate(0deg);
                transform: translate(0px, 0px) rotate(0deg);
        border: 8px solid rgb(84, 230, 16);
    }

    32% {
        -webkit-transform: translate(0px, 0px) rotate(0deg) scale(1);
                transform: translate(0px, 0px) rotate(0deg) scale(1);
    }

    34.9% {
        border: 8px solid rgb(84, 230, 16);
    }

    35% {
        -webkit-transform: translate(10px, 10px) rotate(90deg) scale(1.5);
                transform: translate(10px, 10px) rotate(90deg) scale(1.5);
        border: 2px solid rgb(84, 230, 16);
    }

    42% {
        -webkit-transform: translate(10px, 10px) rotate(90deg) scale(1.5);
                transform: translate(10px, 10px) rotate(90deg) scale(1.5);
    }

    44.9% {
        border: 2px solid rgb(84, 230, 16);
    }

    45% {
        -webkit-transform: translate(10px, 10px) rotate(180deg) scale(1.5);
                transform: translate(10px, 10px) rotate(180deg) scale(1.5);
        border: 4px solid rgb(84, 230, 16);
    }

    52% {
        -webkit-transform: translate(10px, 10px) rotate(180deg) scale(1.5);
                transform: translate(10px, 10px) rotate(180deg) scale(1.5);
    }

    54.9% {
        border: 4px solid rgb(84, 230, 16);
    }

    55% {
        -webkit-transform: translate(10px, 10px) rotate(270deg) scale(1.5);
                transform: translate(10px, 10px) rotate(270deg) scale(1.5);
        border: 6px solid rgb(84, 230, 16);
    }

    62% {
        -webkit-transform: translate(10px, 10px) rotate(270deg) scale(1.5);
                transform: translate(10px, 10px) rotate(270deg) scale(1.5);
    }

    64.9% {
        border: 6px solid rgb(84, 230, 16);
    }

    65% {
        -webkit-transform: translate(0px, 0px) rotate(360deg) scale(1);
                transform: translate(0px, 0px) rotate(360deg) scale(1);
        border: 8px solid rgb(84, 230, 16);
    }

    100% {
        -webkit-transform: translate(0px, 0px) rotate(360deg);
                transform: translate(0px, 0px) rotate(360deg);
        border: 8px solid rgb(84, 230, 16);
    }
}

@keyframes shift-four {
    0% {
        -webkit-transform: translate(0px, 0px) rotate(0deg);
                transform: translate(0px, 0px) rotate(0deg);
        border: 8px solid rgb(84, 230, 16);
    }

    32% {
        -webkit-transform: translate(0px, 0px) rotate(0deg) scale(1);
                transform: translate(0px, 0px) rotate(0deg) scale(1);
    }

    34.9% {
        border: 8px solid rgb(84, 230, 16);
    }

    35% {
        -webkit-transform: translate(10px, 10px) rotate(90deg) scale(1.5);
                transform: translate(10px, 10px) rotate(90deg) scale(1.5);
        border: 2px solid rgb(84, 230, 16);
    }

    42% {
        -webkit-transform: translate(10px, 10px) rotate(90deg) scale(1.5);
                transform: translate(10px, 10px) rotate(90deg) scale(1.5);
    }

    44.9% {
        border: 2px solid rgb(84, 230, 16);
    }

    45% {
        -webkit-transform: translate(10px, 10px) rotate(180deg) scale(1.5);
                transform: translate(10px, 10px) rotate(180deg) scale(1.5);
        border: 4px solid rgb(84, 230, 16);
    }

    52% {
        -webkit-transform: translate(10px, 10px) rotate(180deg) scale(1.5);
                transform: translate(10px, 10px) rotate(180deg) scale(1.5);
    }

    54.9% {
        border: 4px solid rgb(84, 230, 16);
    }

    55% {
        -webkit-transform: translate(10px, 10px) rotate(270deg) scale(1.5);
                transform: translate(10px, 10px) rotate(270deg) scale(1.5);
        border: 6px solid rgb(84, 230, 16);
    }

    62% {
        -webkit-transform: translate(10px, 10px) rotate(270deg) scale(1.5);
                transform: translate(10px, 10px) rotate(270deg) scale(1.5);
    }

    64.9% {
        border: 6px solid rgb(84, 230, 16);
    }

    65% {
        -webkit-transform: translate(0px, 0px) rotate(360deg) scale(1);
                transform: translate(0px, 0px) rotate(360deg) scale(1);
        border: 8px solid rgb(84, 230, 16);
    }

    100% {
        -webkit-transform: translate(0px, 0px) rotate(360deg);
                transform: translate(0px, 0px) rotate(360deg);
        border: 8px solid rgb(84, 230, 16);
    }
}


/*===================================================================================*/
/* Media Queries */
@media (max-width: 991.98px) {
    .main-page__text {
        top: 45%;
        width: 80%;
        font-size: calc(22px + 8 * ((100vw - 320px) / 992));
    }

    .main-page__animation {
        right: 50%;
        -webkit-transform: translateX(50%);
            -ms-transform: translateX(50%);
                transform: translateX(50%);
        bottom: 120px;
    }

    .main-page__social {
        max-width: 260px;
        top: 62px;
        left: 50px;
    }

    .social-panel__list {
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

    .social-panel__item {
        margin: 0px 8px 8px 0px;
    }

    .social-panel__link {
        -webkit-transition: all 0.1s;
        -o-transition: all 0.1s;
        transition: all 0.1s;
    }

    .social-panel__link:hover {
        border-color: transparent;
        -webkit-transform: translateX(0);
            -ms-transform: translateX(0);
                transform: translateX(0);
    }

    .social-panel__link span {
        display: none;
    }
}

@media (max-width: 600px) {
    .main-page__social {
        left: 30px;
    }

    .main-page__phone {
        top: 38px;
        right: 30px;
    }

    .main-page__link {
        height: 40px;
        width: 40px;
        font-size: 0;
        padding: 0;
        background-color: rgba(255, 255, 255, 0);
        border: 2px solid #54e610;
        -webkit-transition: border-color 0.1s;
        -o-transition: border-color 0.1s;
        transition: border-color 0.1s;
    }

    .main-page__link:hover {
        border-color: transparent;
    }

    .main-page__link::before,
    .main-page__link::after,
    .main-page__lines {
        display: none;
        pointer-events: none;
    }

    .main-page__link span {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        height: 100%;
    }

    .main-page__link span::before {
        font-size: 25px;
    }
}

@media (max-width: 400px) {
    .main-page__social {
        max-width: 180px;
        left: 15px;
    }
}



/*==========================================================================================================================================================================*/
/* Works */
.pages__works {
    position: relative;
    overflow-y: auto;
}

.works-page__content {
    padding: 20px 30px;
}

.works-page__body {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 548px;
    padding: 30px 0px;
    background-color: rgb(51, 51, 51);
    border-radius: 5px;
    -webkit-box-shadow: -1px 0 5px rgb(31, 31, 31);
            box-shadow: -1px 0 5px rgb(31, 31, 31);
}

.works-page__body::after, 
.works-page__body::before {
    content: "";
    position: absolute;
    height: 1px;
    left: 30px;
    right: 30px;
    -webkit-box-shadow: 0 0 8px black,
                0 0 8px black;
            box-shadow: 0 0 8px black,
                0 0 8px black; 
    z-index: 3; 
}

.works-page__body::before {
    top: 27px;
}

.works-page__body::after {
    bottom: 27px;
}

::-webkit-scrollbar {
    width: 0;
}

.works-page__progressbar {
    position: absolute;
    top: 40px;
    right: 40px;
    width: 6px;
    height: 0;
    max-height: 468px;
    margin: 0px 0px 50px 0px;
    border-radius: 3px;
    background: #54e610;
    -webkit-box-shadow: inset 0 0 5px black,
                      0 0px 2px black;
            box-shadow: inset 0 0 5px black,
                      0 0px 2px black;
}

.works-page__gallery {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 28px;
    overflow-y: auto;
    background-color: rgb(68, 68, 68);
}

.works-page__gallery::before,
.works-page__gallery::after {
    content: "";
    position: absolute;
    top: 32px;
    bottom: 32px;
    width: 1px;
    -webkit-box-shadow: 0 0 8px black,
                0 0 8px black;
            box-shadow: 0 0 8px black,
                0 0 8px black; 	
}

.works-page__gallery::before {
    left: 30px;
}

.works-page__gallery::after {
    right: 30px;
}

.pages__works._show .works-page__gallery {
    opacity: 1;
}

.gallery-works__row {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0 15px;
}

.gallery-works__image {
    position: relative;
    width: calc(350px + 70 * ((100vw - 320px) / 1920));
    height: calc(220px + 30 * ((100vw - 320px) / 1920));
    margin: 0 10px 20px;
    opacity: 0;
    cursor: pointer;
    -webkit-transform: translateX(-300px);
        -ms-transform: translateX(-300px);
            transform: translateX(-300px);
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.pages__works._show .gallery-works__image {
    -webkit-transform: translateX(0px);
        -ms-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
}

.gallery-works__image:nth-child(2n+1) {
    -webkit-transition-delay: 0.3s;
         -o-transition-delay: 0.3s;
            transition-delay: 0.3s;
}

.gallery-works__image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: 100%;
       object-fit: 100%;
    border: 10px solid rgb(32, 32, 32);
}

.gallery-works__image img:hover {
    border-color: #54e610;
}

.works-page__title {
    font-size: calc(28px + 4 * ((100vw - 320px) / 1920));
    color: #54e610;
    text-align: center;
    margin: 20px auto 0px;
    max-width: 700px;
}


/*===================================================================================*/
/* Media Queries */
@media (min-width: 1940px), (min-height: 950px) {
    .works-page__body {
        height: calc(100vh - 100px);
    }

    .gallery-works__image {
        width: 30vw;
        height: 20vw;
    }

    .works-page__progressbar {
        display: none;
    }
}

@media (max-width: 991.98px) {
    .works-page__content {
        padding: 20px 30px 80px;
    }
}

@media (max-width: 600px) {
    .works-page__content {
        padding: 20px 0 70px;
    }

    .works-page__body::after,
    .works-page__body::before {
        left: 15px;
        right: 15px;
    }

    .works-page__gallery {
        margin: 0 15px;
    }

    .works-page__gallery::before {
        left: 15px;
    }

    .works-page__gallery::after {
        right: 15px;
    }

    .gallery-works__row {
        padding: 0 5px;
    }

    .gallery-works__image {
        margin: 0 0 20px;
    }

    .gallery-works__image {
        width: calc(260px + 200 * ((100vw - 320px) / 600));
        height: calc(200px + 70 * ((100vw - 320px) / 600));
    }

    .gallery-works__image img {
        border-width: 6px;
    }

    .works-page__progressbar {
        right: 25px;
    }
}

@media (max-width: 400px) {
    .works-page__progressbar {
        display: none;
    }
}



/*==========================================================================================================================================================================*/
/* About */
.pages__about {
    position: relative;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 20px 30px;
    overflow-y: auto;
    z-index: 3;
}

.about-page__info {
    margin: 50px 0px;
    max-width: 1000px;
}

.about-page__info p {
    font-size: calc(17px + 3 * ((100vw - 320px) / 1920));
    line-height: 1.5;
    text-align: center;
    color: #54e610;
}

.about-page__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0px 0px 80px 0px;
}

.about-content__column {
    margin: 0px 30px 30px;
    padding: 30px 40px;
    background-color: rgb(51, 51, 51);
    border-radius: 3px;
}

.about-content__column:last-child {
    margin: 0;
}

.about-page__info,
.about-content__column,
.content-about__title,
.content-about__item {
    opacity: 0;
    -webkit-transform: translateX(400px);
        -ms-transform: translateX(400px);
            transform: translateX(400px);
    -webkit-transition: transform 0.5s, opacity 0.5s;
    -o-transition: transform 0.5s, opacity 0.5s;
    -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
}

.content-about__item {
    -webkit-transform: translateX(200px);
        -ms-transform: translateX(200px);
            transform: translateX(200px);
}

.pages__about._show .about-page__info,
.pages__about._show .about-content__column,
.pages__about._show .content-about__title,
.pages__about._show .content-about__item {
    -webkit-transform: translateX(0px);
        -ms-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
}

.pages__about._show .about-content__column:nth-child(2) {
    -webkit-transition-delay: 0.3s;
         -o-transition-delay: 0.3s;
            transition-delay: 0.3s;
}

.pages__about._show .about-content__column:nth-child(3) {
    -webkit-transition-delay: 0.6s;
         -o-transition-delay: 0.6s;
            transition-delay: 0.6s;
}

.pages__about._show .about-content__column:nth-child(4) {
    -webkit-transition-delay: 0.9s;
         -o-transition-delay: 0.9s;
            transition-delay: 0.9s;
    max-width: 600px;
}

.content-about__title {
    font-size: calc(18px + 4 * ((100vw - 320px) / 1920));
    line-height: 1.3;
    color: #54e610;
    text-align: center;
    margin: 0px 0px 12px 0px;
}

.content-about__title_principle {
    margin: 0px 0px 25px 0px;
}

.content-about__title_tech {
    -webkit-transition-delay: 0.1s;
         -o-transition-delay: 0.1s;
            transition-delay: 0.1s;
}

.content-about__title_tools {
    -webkit-transition-delay: 0.4s;
         -o-transition-delay: 0.4s;
            transition-delay: 0.4s;
}

.content-about__title_work {
    -webkit-transition-delay: 0.7s;
         -o-transition-delay: 0.7s;
            transition-delay: 0.7s;
}

.content-about__title_principle {
    -webkit-transition-delay: 1s;
         -o-transition-delay: 1s;
            transition-delay: 1s;
}

.content-about__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.content-about__list_principle {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
}

.content-about__item {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    color: #fff;
    padding: 0px 10px;
    margin: 0px 0px 10px 0px;
}

.content-about__item:last-child {
    margin: 0;
}

.content-about__item_html {
    -webkit-transition-delay: 0.3s;
         -o-transition-delay: 0.3s;
            transition-delay: 0.3s;
}

.content-about__item_css {
    -webkit-transition-delay: 0.4s;
         -o-transition-delay: 0.4s;
            transition-delay: 0.4s;
}

.content-about__item_js {
    -webkit-transition-delay: 0.5s;
         -o-transition-delay: 0.5s;
            transition-delay: 0.5s;
}

.content-about__item_jquery {
    -webkit-transition-delay: 0.6s;
         -o-transition-delay: 0.6s;
            transition-delay: 0.6s;
}

.content-about__item_sass {
    -webkit-transition-delay: 0.7s;
         -o-transition-delay: 0.7s;
            transition-delay: 0.7s;
}

.content-about__item_vscode {
    -webkit-transition-delay: 0.6s;
         -o-transition-delay: 0.6s;
            transition-delay: 0.6s;
}

.content-about__item_gulp {
    -webkit-transition-delay: 0.7s;
         -o-transition-delay: 0.7s;
            transition-delay: 0.7s;
}

.content-about__item_photoshop {
    -webkit-transition-delay: 0.8s;
         -o-transition-delay: 0.8s;
            transition-delay: 0.8s;
}

.content-about__item_figma {
    -webkit-transition-delay: 0.9s;
         -o-transition-delay: 0.9s;
            transition-delay: 0.9s;
}

.content-about__item_adaptive {
    -webkit-transition-delay: 0.9s;
         -o-transition-delay: 0.9s;
            transition-delay: 0.9s;
}

.content-about__item_cross {
    -webkit-transition-delay: 1s;
         -o-transition-delay: 1s;
            transition-delay: 1s;
}

.content-about__item_clean {
    -webkit-transition-delay: 1.1s;
         -o-transition-delay: 1.1s;
            transition-delay: 1.1s;
}

.content-about__item_ux {
    -webkit-transition-delay: 1.2s;
         -o-transition-delay: 1.2s;
            transition-delay: 1.2s;
}

.content-about__item_purpose {
    -webkit-transition-delay: 1.2s;
         -o-transition-delay: 1.2s;
            transition-delay: 1.2s;
}

.content-about__item_time {
    -webkit-transition-delay: 1.3s;
         -o-transition-delay: 1.3s;
            transition-delay: 1.3s;
}

.content-about__item_touch {
    -webkit-transition-delay: 1.4s;
         -o-transition-delay: 1.4s;
            transition-delay: 1.4s;
}

.content-about__item_new {
    -webkit-transition-delay: 1.5s;
         -o-transition-delay: 1.5s;
            transition-delay: 1.5s;
}

.content-about__item_trust {
    -webkit-transition-delay: 1.6s;
         -o-transition-delay: 1.6s;
            transition-delay: 1.6s;
}

.content-about__item_support {
    -webkit-transition-delay: 1.7s;
         -o-transition-delay: 1.7s;
            transition-delay: 1.7s;
}

.content-about__item p {
    color: #fff;
    font-size: 12px;
    line-height: 1.4;
    letter-spacing: 1px;
    text-align: center;
    max-width: 180px;
}

.content-about__item span {
    display: block;
}

.content-about__image {
    position: relative;
    width: 80px;
    height: 100px;
}

.content-about__item_adaptive .content-about__image,
.content-about__item_cross .content-about__image {
    width: 120px;
}

.content-about__image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
}

.content-about__list_principle .content-about__item {
    position: relative;
    font-size: calc(14px + 2 * ((100vw - 320px) / 1920));
    letter-spacing: 1px;
    margin: 0px 0px 20px 0px;
    padding: 0px 0px 0px 15px;
}

.content-about__list_principle .content-about__item::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 4px;
    height: 4px;
    font-size: 0;
    background-color: #fff;
}


/*===================================================================================*/
/* Media Queries */
@media (max-width: 991.98px) {
    .about-page__info {
        margin: 30px 0px;
        padding: 0 10px;
    }
}

@media (max-width: 650px) {
    .about-content__column {
        padding: 25px;
        margin: 0px 10px 30px;
    }

    .content-about__title {
        text-align: center;
    }
}

@media (max-width: 479.98px) {
    .pages__about {
        padding: 20px 10px 90px;
    }
}



/* ==================================================================================   SWIPER   ===========================================================================*/
/* Slider Swiper */
.swiper {
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}

.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -o-transition-property: transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    z-index: 1;
}

.swiper-pointer-events {
    -ms-touch-action: pan-y;
        touch-action: pan-y;
}

.swiper-slide {
    position: relative;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    width: 100%;
    height: 644px;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -o-transition-property: transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
}

.swiper-pagination {
    position: absolute;
    bottom: 10px;
    left: 20px;
    z-index: 3;
}

.swiper-pagination::before {
    content: "";
    position: absolute;
    top: -20px;
    left: -20px;
    height: 60px;
    width: 165px;
    background-color: rgba(12, 12, 12, 0.9);
    z-index: -1;
}

.swiper-pagination-bullet {
    padding: 7px;
    margin: 0px 5px 0px 0px;
    font-size: 26px;
    cursor: pointer;
}

.swiper-pagination-bullet:last-child {
    margin: 0;
}

.swiper-pagination-bullet::before {
    color: rgb(141, 141, 141);
    -webkit-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s;
}

.swiper-pagination-bullet-active::before {
    color: #54e610;
}


/*===================================================================================*/
/* Media Queries */
@media (min-width: 1940px), (min-height: 950px) {
    .swiper-slide {
        height: 100vh;
    }
}

@media (max-width: 991.98px) {
    .swiper-pagination {
        left: 50%;
        -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
                transform: translateX(-50%);
    }

    .swiper-pagination::before {
        left: calc(-50vw + 50%);
        width: 100vw;
    }
}